footer{
    display: flexbox;
    justify-content: space-around;
    background: #483D8B;
    color: #DCDCDC;
    align-items: start;
    font-size: 1.2rem;
    height: 15vh;
    margin-top: 45vh;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; margin-left: 2.3vw;}
    .div2 { grid-area: 1 / 2 / 2 / 3; margin-left: 2.3vw}